* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #202124;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* header */
header {
  width: 100%;
  height: 60px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 315.66px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  }

nav .nav-right-section a {
  margin-right: 15px;
  color: #ffffff;
  font-size: 1.4rem;
}
nav .nav-right-section a:hover{
  text-decoration: underline;
}

.header-img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  padding: 12px;
  border-radius: 50%;
}

.header-img:hover {
  background-color: #2d2e31;
}
.header--profile {
  width: 33px;
  height: 33px;
  padding: 4px;
}

/* main */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 25px;
  flex-direction: column;
}
.main-img {
  max-width: 285px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #5f6368;
  padding: 0 16px;
  border-radius: 24px;
  width: 100%;
  height: 46px;
  max-width: 584px;
  gap: 8px;
  text-align: center;
}

.search .mic {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.search:hover {
  background: #303134;
  box-shadow: 0 1px 6px 0 #171717;
}
.search:active {
  background: #303134;
  box-shadow: 0 1px 6px 0 #171717;
}

.search input {
  display: inline-block;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  color: white;
  font-size: 1.6rem;
  outline: none;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
button {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial, sans-serif;
  font-size: 1.4rem;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.history {
  color: #99c3ff;
  font-size: 1.3rem;
}
/* footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #171717;
}
.country {
  color: white;
  font-size: 1.5rem;
  padding: 4px 30px;
  height: 48.4px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #313335;;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 30px;
  min-height: 46.8px;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.footer-container a {
  font-size: 1.4rem;
  color: white;
}
.links1 {
  display: flex;
  gap: 20px;
}
.links2 {
  display: flex;
  gap: 20px;
}
